<!DOCTYPE html>
<html>
<head>
    <title>Add Extinguisher</title>
</head>
<body>
    <h2>Add Extinguisher</h2>

    <form method="POST">
        ID: <input name="id" required><br><br>
        Client Name: <input name="client_name"><br><br>
        Address: <input name="address"><br><br>
        PO Number: <input name="po_number"><br><br>
        Type: <input name="type"><br><br>
        Location: <input name="location"><br><br>
        Expiry: <input type="date" name="expiry"><br><br>
        Remarks: <input name="remarks"><br><br>

        <button type="submit">Add</button>
    </form>
</body>
</html>
