<!DOCTYPE html>
<html>
<head>
    <title>Add Extinguisher</title>
</head>
<body>
    <h2>Add Extinguisher</h2>

    <form method="POST">
        Company:
        <select name="company">
        <option value="SM">SafetyMax</option>
        <option value="CLI">Client</option>
        </select><br><br>
        
        ID: <input name="id" required><br><br>
        Client Name: <input name="client_name"><br><br>
        Address:<br><textarea name="address" rows="3" style="width:100%;">{{ data.address }}</textarea><br><br>
        PO Number: <input name="po_number"><br><br>
        Order Number: <input name="order_id"><br><br>
        Type: <input name="type"><br><br>
        Location: <br><textarea name="location" rows="2" style="width:100%;">{{ data.location }}</textarea><br><br>
        Supply Date: <input type="date" name="supply_date"><br><br>
        Expiry: <input type="date" name="expiry"><br><br>
        Remarks: <br><textarea name="remarks" rows="3" style="width:100%;">{{ data.remarks }}</textarea><br><br>

        <button type="submit">Add</button>
    </form>
</body>
</html>
